.navbar-brand {
    font-family: Viga;
}

.presentation-title {
    font-family: Viga;
    font-size: 4em;
    font-weight: 600;
    margin: 0;
    color: #fff;
    background: #fbf8ec;
    background: linear-gradient(180deg, #fff 25%, #0823bb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.presentation-subtitle {
    font-family: Viga;
    font-size: 1.5em;
    color: #fff
}

@media (min-width: 768px) {
    .presentation-title {
        font-family: Viga;
        font-size: 7em;
        font-weight: 600;
    }
}